footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
    color: rgb(99, 99, 99);
}

.footer_logo {
    height: 50px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    padding: 5px 0;
}

.footer_logo a img {
    height: 40px;
    width: 90px;
}

.footer_logo a {
    text-decoration: none;
}

.footer_connect {
    padding: 10px 200px;
    border-bottom: 3px solid black;
    display: flex;
    justify-content: space-around;
    text-align: left;
}

.footer_connect ul {
    padding: 0;
}

.footer_connect span {
    font-weight: bold;
}

.footer_connect ul li {
    list-style: none;
}

.logo_MXH img {
    width: 40px;
    height: 40px;
    margin-top: 15px;
    margin-right: 10px;
}

.Bo_Cong_Thuong {
    width: 200px;
    height: 70px;
}

.logo_MXH img:hover {
    transform: scale(0.9, 0.9);
}

.footer_company {
    display: flex;
    justify-content: center;
    height: 120px;
    padding-bottom: 20px;
    padding-left: 30px;
}

.footer_company ul {
    list-style: none;
    text-align: left;
}

.footer_company img {
    width: 130px;
}

.footer_background_end {
    background-image: url(../Image/footer_End.jpg);
    background-size: contain;
    height: 100px;
    margin-top: 10px;
}