html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(252, 252, 241);
}

body {
    font-family: Verdana, Arial, sans-serif;
    color: #222;
    font-size: 14px;
    line-height: 18px;
}

main {
    margin-top: 0;
}

header {
    display: flex;
    flex-direction: column;
}

.banner {
    padding: 0 10%;
}

.banner img {
    height: 80px;
    width: 80vw;
}

.sign_up_in {
    height: 40px;
    display: flex;
    justify-content: center;
}

.sign_up_in ul {
    width: 980px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sign_up_in ul li {
    list-style: none;
    margin-left: 30px;
    font-size: 18px;
    color: rgb(102, 102, 102)
}

.sign_up_in ul li:nth-last-child(1) {
    margin-right: 25px;
}

.sign_up_in ul li a {
    text-decoration: none;
    color: black;
}

.menu {
    background: url(../Image/background_menu.png) repeat-x transparent;
    background-size: 10px 135px;
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15%;
}

.logo {
    width: 140px;
    height: 60px;
}

.menu ul {
    display: flex;
    flex: 3;
    padding: 0;
}

.menu ul li {
    list-style: none;
    padding-left: 20px;
    padding-top: 40px;
}

.menu ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.Muavengay {
    width: 93px;
    height: 76px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-right: 25%;
    flex: 0.4;
}

.logo:hover {
    opacity: 50%;
    cursor: pointer;
}