main {
    display: flex;
    flex-direction: column;
}

.main_menu {
    padding: 0 20%;
}

.main_menu ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 25px;
    height: 90px;
}

.main_menu li:not(:last-child) {
    border-right: 1px solid black;
}

.main_menu img {
    width: 140px;
    height: 90px;
}

.main_menu hr {
    width: 66%;
}

.movie_selection {
    text-align: center;
}

.TieuDe {
    background: url(../Image/bg_h3_line.jpg) repeat-x scroll left center rgba(0, 0, 0, 0);
    margin: 0 17%;
}

.event {
    text-align: center;
}