main {
    display: flex;
    flex-direction: column;
}

.main_menu {
    padding: 0 20%;
}

.main_menu ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 25px;
    height: 90px;
}

.main_menu li:not(:last-child) {
    border-right: 1px solid black;
}

.main_menu img {
    width: 140px;
    height: 90px;
}

.main_menu hr {
    width: 66%;
}

.movie_selection {
    text-align: center;
}

.TieuDe {
    background: url(../Image/bg_h3_line.jpg) repeat-x scroll left center rgba(0, 0, 0, 0);
    margin: 0 10%;
}

.event {
    text-align: center;
}

.event hr {
    border: 2px solid black;
    margin: 0 10%;
    opacity: 1;
}

.three_img {
    margin: 0 10%;
    display: flex;
    justify-content: space-around;
}

.three_img img {
    height: 300px;
    margin: 20px 5px;
    border: 2px solid black;
    padding: 5px;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.three_img img:hover {
    opacity: 0.8;
    transform: scale(0.9);
}

.col_f img {
    width: 300px;
}

.col_l img {
    width: 300px;
}

.col_m img {
    width: 600px;
}

.slideshow {
    background: url('../Image/gach.png');
    background-size: contain;
    background-position: center;
    min-height: 500px;
    margin-bottom: 50px;
}

.carousel-item {
    text-align: center;
}

.carousel-inner img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.carousel-indicators button {
    background-color: black;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 75px !important;
    height: 75px !important;
}

.select-custom-carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.select-carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.select-carousel-item-custom {
    flex: 0 0 25%;
}

.select-carousel-controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.select-carousel-btn {
    background-color: red;
    border: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
}

.select_next {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.select_prv {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

.select_img {
    height: 450px;
    width: 300px;
}

.select-overlay {
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3 ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    height: 450px;
    width: 305px;
}

.select-overlay .muave {
    position: absolute;
    bottom: 10px;
    right: 30px;
}

.select-overlay .play {
    position: absolute;
    width: 80px;
    height: 80px;
    cursor: pointer;
    top: 120px;
    left: 110px;
}

.select-overlay .xemchitiet {
    position: absolute;
    bottom: 10px;
    left: 30px;
    cursor: pointer;
}


/* Hiển thị lớp phủ khi di chuột */

.select-carousel-item-custom {
    position: relative;
    overflow: hidden;
}

.select-carousel-item-custom:hover .select-overlay {
    opacity: 1;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Nội dung modal */

.modal-content {
    position: relative;
    padding: 0;
    border-radius: 10px;
    box-shadow: none;
    margin-left: 25%;
    margin-right: 25%;
}

.modal-content iframe {
    width: 80vw;
    height: 45vw;
    max-width: 900px;
    max-height: 506px;
    border: none;
}


/* Nút đóng */

.close {
    position: absolute;
    top: -10px;
    right: 10px;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.red_shape {
    background-color: rgb(233, 1, 1);
    width: 340px;
    height: 40px;
    position: relative;
    left: 38.5%;
    margin-top: 20px;
}

.right {
    position: absolute;
    right: 0;
}

.left {
    position: absolute;
    left: 0;
}

.red_shape span {
    position: absolute;
    color: white;
    left: 45px;
    top: 10px;
    cursor: pointer;
}

.event_img {
    height: 240px;
    width: 140px;
}

.container_event {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.event-select-custom-carousel {
    position: relative;
    width: 80%;
    overflow: hidden;
}

.event-select-carousel-track {
    display: flex;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.event-select-carousel-item-custom {
    min-width: 25%;
    box-sizing: border-box;
    padding: 5px;
}

.event-select_img {
    width: 100%;
}

.event-select-carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none;
}

.event-select-carousel-btn {
    background-color: rgb(255, 0, 0);
    color: white;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    pointer-events: auto;
    border-radius: 5px;
    font-size: 18px;
    height: 60px;
}

.event-select-carousel-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.event-select_prv {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

.event-select_next {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.muave {
    text-align: end;
    font-weight: bold;
    padding: 5px 10px;
    background-color: rgb(199, 63, 32);
    border-radius: 5px;
}

.muave a {
    color: white;
    text-decoration: none;
}

.muave a:hover {
    color: white;
}

/* hai thanh quảng cáo */
.cms-index-index .mtw_banner_left {
    left: 10px;
    position: fixed;
    z-index: 20;
    top: 20px;
    display: block;
}

.mtw_banner_left {
    left: 10px;
    position: fixed;
    z-index: 20;
    top: 20px;
}

.cms-index-index .mtw_banner_right {
    position: fixed;
    right: 10px;
    z-index: 20;
    top: 20px;
    display: block;
}

.mtw_banner_right {
    position: fixed;
    right: 10px;
    z-index: 20;
    top: 20px;
}