main {
    display: flex;
    flex-direction: column;
}

.main_menu {
    padding: 0 20%;
}

.main_menu ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 25px;
    height: 90px;
}

.main_menu li:not(:last-child) {
    border-right: 1px solid black;
}

.main_menu img {
    width: 140px;
    height: 90px;
}

.main_menu hr {
    width: 66%;
}

.movie_selection {
    text-align: center;
}

.TieuDe {
    background: url(../Image/bg_h3_line.jpg) repeat-x scroll left center rgba(0, 0, 0, 0);
    margin: 0 17%;
}

.event {
    text-align: center;
}

.slideshow {
    background: url('../Image/gach.png');
    background-size: contain;
    background-position: center;
    min-height: 500px;
    margin-bottom: 50px;
}

.carousel-item {
    text-align: center;
}

.carousel-inner img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.carousel-indicators button {
    background-color: black;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 75px !important;
    height: 75px !important;
}

.select-custom-carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.select-carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.select-carousel-item-custom {
    flex: 0 0 25%;
}

.select-carousel-controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.select-carousel-btn {
    background-color: red;
    border: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
}

.select_next {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.select_prv {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

.select_img {
    height: 450px;
    width: 300px;
}

.select-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3 ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.select-overlay img {
    width: 300px;
    height: 450px;
    margin-left: 1px;
    cursor: pointer;
}


/* Hiển thị lớp phủ khi di chuột */

.select-carousel-item-custom {
    position: relative;
    overflow: hidden;
}

.select-carousel-item-custom:hover .select-overlay {
    opacity: 1;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Nội dung modal */

.modal-content {
    position: relative;
    padding: 0;
    border-radius: 10px;
    box-shadow: none;
    margin-left: 25%;
    margin-right: 25%;
}

.modal-content iframe {
    width: 80vw;
    height: 45vw;
    max-width: 900px;
    max-height: 506px;
    border: none;
}


/* Nút đóng */

.close {
    position: absolute;
    top: -10px;
    right: 10px;
    color: white;
    font-size: 24px;
    cursor: pointer;
}